.card-container {
	width: 300px;
	height: max-content;
	background-color: var(--background-secondary);
	border-radius: 10px;
	padding: 6px 12px;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid var(--background-secondary);

	button {
		padding: 0;
		width: min-content;
		height: 1.5em;
		align-self: flex-start;
		background-color: inherit !important;
		border: none;
	}

	svg {
		color: var(--highlight-text) !important;
	}
}

.card-container:hover {
	cursor: pointer;
}

.card-container.reverse {
	flex-direction: row-reverse;
}

.card-container.condensed {
	height: min-content;
	justify-content: flex-end;
	padding: 6px 6px;
}

.card-container.target {
	border: 3px solid var(--highlight-primary);
	background-color: var(--highlight-secondary);
	color: var(--highlight-text);
	padding: 6px 12px;
}

.card-container.target.condensed {
	justify-content: center;
	
	.card-label {
		display: flex;
		gap: 6px;
		flex-grow: 1;
		display: flex;
		justify-content: center;
		margin-right: 1.5em;
	}
}

.card-image {
	border-radius: 5px;
}

.card-label {
	padding: 0 12px;
}

.card-expandable-icon {
	justify-self: flex-start;
	align-self: flex-start;
}