.daily-costars-container {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 3px solid var(--highlight-primary);
  border-radius: 10px;
  padding: 0px 16px;
  color: var(--highlight-text);
  font-weight: 600;

  a {
    width: 100%;
    max-width: 230px;
    transform: translateY(50%);
    margin-top: -24px;
  }
}

.daily-costars-header {
  transform: translateY(-50%);
  background-color: var(--background-primary);
  border-radius: 10px;
  padding: 0 12px;
  margin-bottom: -24px;
}

.daily-costars-previews {
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    border: 2px solid var(--highlight-primary);
    border-radius: 5px;
  }

  :last-child {
    align-self: flex-end;
  }
}

.daily-costars-names {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 6px 0;
  text-align: center;
  gap: 6px;

  :first-child {
    padding: 0 6px;
    margin-right: 12px;
    border: 2px solid var(--highlight-primary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    background-color: var(--highlight-secondary);
  }

  :nth-child(2) {
    font-size: 12px;
  }

  :last-child {
    padding: 0 6px;
    margin-left: 12px;
    border: 2px solid var(--highlight-primary);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    background-color: var(--highlight-secondary);
    align-self: stretch;
  }
}
