.modal-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	padding: 24px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 1100;
}

.modal-container {
	width: fit-content;
	max-width: min(var(--max-width-mobile), 98vw);
	padding: 12px 16px 24px;
	margin-top: 50px;
	background-color: var(--background-primary);
	color: var(--highlight-text);
	border: 3px solid var(--highlight-primary); 
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
	text-align: center;
}

.modal-close-button {
	align-self: flex-end;
	margin-bottom: -28px;
	margin-top: -12px;
	margin-right: -12px;
	button {
		padding: 0;
		height: 28px;
		width: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
	}
}