.modal-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	padding: 24px;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.modal-container {
	background-color: pink;
	width: fit-content;
	max-width: var(--max-width-mobile);
	padding: 24px 16px;
	margin-top: 30vh;
	background-color: var(--background-primary);
	color: var(--highlight-text);
	border: 3px solid var(--highlight-primary); 
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	text-align: center;
}