.profile-modal-container {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  > button:first-of-type:not(:only-of-type) {
    background-color: white;
    color: #1f1f1f;
    border: 1px solid #747775;

    svg {
      color: white;
    }
  }

  > button:nth-of-type(2) {
    background-color: #1877f2;
    color: white;
    border: 1px solid #1877f2;

    svg {
      color: white;
    }
  }

  hr {
    width: 100%;
    border-color: var(--highlight-primary);
    margin: 12px;
  }
}

.profile-modal-why-section {
  display: flex;
  flex-direction: column;
  gap: inherit;
  padding: 0 6px;

  span {
    text-align: left;
  }
}

.profile-modal-disclosure {
  font-size: 14px;
}

.profile-modal-disclosure.first {
  margin-top: 24px;
}
