.search-bar-container {
  width: 100%;
  max-width: var(--max-width-mobile);
  display: flex;
  align-items: center;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: 2px solid var(--background-secondary);
  border-radius: 5px;
}

.search-bar-icon {
  margin: 6px;
  position: absolute;
}

.search-bar-input {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  div {
    padding: 0 !important;
  }

  input {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  fieldset {
    border: none;
  }
}

.search-bar-option {
  background-color: var(--background-faded);
  width: 100%;
}

ul {
  background-color: var(--background-secondary);
}

.search-bar-container.incorrect {
  animation: shake 0.5s;
  border-color: mediumvioletred;
}

@keyframes shake {
  0% {
    transform: translateX(1px);
  }
  10% {
    transform: translateX(-1px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}
