.search-bar-container {
	width: 100%;
	max-width: var(--max-width-mobile);
	display: flex;
	align-items: center;
	color: var(--text-primary);
	background-color: var(--background-secondary);
	border-radius: 5px;
	margin-bottom: 10px;
	padding-bottom: 0;
}

.search-bar-container.open {
	margin-bottom: 0;
	padding-bottom: 10px;
}

.search-bar-icon {
	margin: 6px;
	position: absolute;
}

.search-bar-input {
	flex-grow: 1;
	display: flex;
	flex-direction: column;

	div {
		padding: 0 !important;
	}

	input {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	fieldset {
		border: none;
	}
}

.search-bar-option {
	background-color: var(--background-faded);
	width: 100%;
}

ul {
	background-color: var(--background-secondary);
}