.cs-toolbar {
  width: auto;
  max-width: var(--max-width-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  button {
    border-radius: 0;
    width: min-content;
    padding: 6px 12px 0;
  }

  svg {
    font-size: 1.25em;
  }
}

.cs-toolbar > :first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;

  button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  svg {
    padding: 1px;
  }
}

.cs-toolbar > :last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
