.card-track-container {
  width: min-content;
  min-width: 324px;
  max-width: var(--max-width-mobile);
  min-height: 20em;
  max-height: 60vh;
  color: var(--text-primary);
  box-shadow:
    inset 2px 2px 3px var(--highlight-faded),
    inset -2px -2px 3px var(--highlight-faded);
  background-color: var(--background-faded);
  border-radius: 10px;
  padding: 28px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  overflow: hidden auto;
}

.card-track-container.full-height {
  max-height: none;
}

.card-track-container.no-prompt {
  padding: 12px;
}

.card-track-prompt {
  width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-faded);
  padding: 0 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.card-track-carousel-container {
  max-width: 324px;
  height: 432px;
  margin: 0 -12px;

  ul {
    display: flex;
    background-color: transparent;
    list-style: none;
  }

  li {
    width: 324px !important;

    > div {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 0 12px;
    }
  }
}

.card-track-carousel-arrow {
  width: min-content;
  position: absolute;
  transition: transform ease 0.2s;

  button {
    border-width: 2px;
    border-radius: 10px;
    padding: 16px 2px;
    display: flex;
    justify-content: center;
  }

  :first-child {
    svg {
      padding: 0;
    }
  }
}

.card-track-carousel-arrow.right {
  transform: translate(calc(324px - 67%), calc(-216px - 50%));
}

.card-track-carousel-arrow.left {
  transform: translate(-33%, calc(-216px - 50%));
}

@media (hover: hover) {
  .card-track-carousel-arrow.right:hover {
    transform: translate(calc(324px - 50%), calc(-216px - 50%));
  }

  .card-track-carousel-arrow.left:hover {
    transform: translate(-50%, calc(-216px - 50%));
  }
}
