.card-container {
  width: 300px;
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid var(--background-secondary);
  transition: height ease-in-out 0.3s;

  button {
    padding: 0;
    width: min-content;
    height: 1.5em;
    align-self: flex-start;
    background-color: inherit !important;
    border: none;
  }

  svg {
    color: var(--highlight-text) !important;
  }

  img,
  .entity-image {
    opacity: 1;
    align-self: flex-start;
    transition:
      height ease 0.3s,
      width ease 0.3s,
      opacity ease 0.3s;
  }
}

.card-hint-icon {
  position: relative;
  font-size: 12px;
  background-color: var(--theme-secondary);
  border: 2px solid var(--theme-primary);
  border-radius: 50%;
  height: 22px;
  min-width: 22px;
  margin: 2px -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  transition: all ease 0.3s;
  align-self: flex-start;

  svg {
    height: 12px;
    width: 12px;
    color: var(--theme-text) !important;
  }
}

.card-label {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  padding: 0 12px;
  transition: margin ease 0.25s;
}

.card-image-container {
  height: 120px;
}

.card-image {
  border-radius: 5px;
}

.card-expand-icon {
  position: absolute;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container.reverse {
  flex-direction: row-reverse;

  .card-label {
    justify-content: flex-start;
  }
}

.card-container.condensed {
  align-items: center;

  .card-label {
    max-width: 260px;
  }

  img,
  .entity-image {
    opacity: 0;
  }
}

.card-container.target {
  border: 3px solid var(--theme-primary);
  background-color: var(--theme-secondary);
  color: var(--theme-text);

  .card-label {
    margin-left: 0;
  }

  .card-expand-icon {
    margin-right: 275px;
  }

  .card-hint-icon {
    margin: 95px 0 0 1px;
  }

  svg {
    color: var(--theme-text) !important;
  }
}

.card-container.highlight {
  justify-content: flex-end;
  font-weight: 900;

  .card-label {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .card-hint-icon {
    margin-top: 1px;
  }
}

.card-container.condensed.reverse {
  flex-direction: row-reverse !important;
}

@media (hover: hover) {
  .card-container:hover {
    cursor: pointer;
    border-color: var(--highlight-faded);
  }
}

.card-container.target.condensed {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .card-label {
    max-width: 250px;
    margin-left: 24px;
  }

  .card-hint-icon {
    margin: 0 -24px auto 32px;
  }
}
