.card-track-container {
  width: min-content;
  max-width: var(--max-width-mobile);
  min-height: 20em;
  max-height: 60vh;
  border: 3px solid var(--highlight-faded);
  background-color: var(--background-faded);
  border-radius: 10px;
  padding: 28px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
  overflow-y: auto;
}

.card-track-container.full-height {
  max-height: none;
}

.card-track-container.no-prompt {
  padding: 12px;
}

.card-track-prompt {
  width: 300px;
  background-color: var(--background-faded);
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
