.confetti-container {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interaction */
  overflow: hidden;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(67vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes confetti-fall-reverse {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(67vh) rotate(-360deg);
    opacity: 0;
  }
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background: var(--confetti-color, red);
  border-radius: 1px;
  opacity: 0;
}

.confetti-piece.star {
  background: transparent;
  color: var(--theme-primary);
  width: 24px;
  height: 24px;
}

.confetti-piece.left {
  animation: confetti-fall var(--fall-duration) ease-in;
  animation-delay: calc(var(--fall-duration) - 3s);
}

.confetti-piece.right {
  animation: confetti-fall-reverse var(--fall-duration) ease-in;
  animation-delay: calc(var(--fall-duration) - 3s);
}
