.confetti-container {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent interaction */
  overflow: hidden;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(67vh) rotate(360deg);
    opacity: 0;
  }
}

@keyframes confetti-fall-reverse {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(67vh) rotate(-360deg);
    opacity: 0;
  }
}

.confetti-piece {
  position: absolute;
  width: 10px;
  height: 20px;
  background: var(--confetti-color, red);
  opacity: 0;
}

.confetti-piece.star {
  background: transparent;
  color: var(--theme-primary);
  width: 24px;
  height: 24px;
}

.confetti-piece.left {
  animation: confetti-fall var(--fall-duration, 4s) ease-in;
  animation-delay: calc(var(--fall-duration, 4s) - 4s);
}

.confetti-piece.right {
  animation: confetti-fall-reverse var(--fall-duration, 4s) ease-in;
  animation-delay: calc(var(--fall-duration, 4s) - 3s);
}

/* Randomize confetti properties */
.confetti-piece:nth-child(1) {
  left: 10%;

  --confetti-color: #ff6347;
  --fall-duration: 3s;
}

.confetti-piece:nth-child(2) {
  left: 25%;

  --confetti-color: #ffa500;
  --fall-duration: 5s;
}

.confetti-piece:nth-child(3) {
  left: 40%;

  --confetti-color: #32cd32;
  --fall-duration: 4.5s;
}

.confetti-piece:nth-child(4) {
  left: 60%;

  --confetti-color: #1e90ff;
  --fall-duration: 3.5s;
}

.confetti-piece:nth-child(5) {
  left: 80%;

  --confetti-color: #ff69b4;
  --fall-duration: 6s;
}
