.text-display-container {
  background-color: var(--highlight-secondary);
  color: var(--highlight-text);
  border: 3px solid var(--highlight-primary);
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
  overflow: hidden;
}
