.text-display-container {
  background-color: var(--theme-secondary);
  color: var(--theme-text);
  border: 3px solid var(--theme-primary);
  border-radius: 10px;
  padding: 6px 12px;
  font-weight: 600;
  overflow: hidden;
}
