.expandable-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  overflow: hidden;

  > button:first-of-type {
    width: 100%;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 2px solid var(--highlight-primary);
    padding: 6px 3px;
    z-index: 1500;
  }

  > button:hover {
    background-color: inherit;
  }
}

.expandable-content-children {
  display: flex;
  flex-direction: column;
  opacity: 0;
  z-index: 0;
  max-height: 0;
  user-select: none; /* Standard */
  transition:
    200ms all ease,
    opacity 200ms ease;
}

.expandable-content-children.expanded {
  z-index: auto;
  opacity: 1;
  height: auto;
  max-height: 200px;
  user-select: auto; /* Standard */
}
