.admin-page-container {
  align-self: center;
  width: 100%;
  max-width: var(--max-width-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--highlight-primary);
  margin: 24px 0 50px;
}
