.auth-redirect-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 84px;

  * {
    color: var(--highlight-primary);
  }

  img {
    animation: pulsing 5s linear infinite;
  }
}

@keyframes pulsing {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  0% {
    transform: scale(1);
  }
}
