.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 40px;

  h3 {
    text-decoration: none;
  }
}

.home-page-button-container {
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
