.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 24px;
	gap: 40px;
}

.home-page-daily-container {
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	background-color: var(--background-faded);
	border: 3px solid var(--highlight-faded);
	border-radius: 10px;
	padding: 10px 24px 0px;
	color: var(--highlight-text);
	font-weight: 600;

	a {
		width: 100%;
		max-width: 230px;
		transform: translateY(50%);
		margin-top: -24px; 
	}
}

.home-page-daily-previews {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 32px;

	> span {
		flex-grow: 1;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6px;
	}
}

.home-page-button-container {
	width: 100%;
	max-width: 230px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}