.solution-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  h3 {
    color: var(--highlight-text);
  }

  div {
    max-height: 70vh;
  }
}
