.unlimited-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
	gap: 20px;
	flex-grow: 1;
}

.unlimited-page-scores {
	width: 100%;
	max-width: var(--max-width-mobile);
	display: flex;
	justify-content: space-evenly;
	gap: 16px;
}

.unlimited-page-scores > div {
	width: 50%;
	display: flex;
	justify-content: center;
	font-size: 14px;
}