.unlimited-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
	gap: 32px;
	flex-grow: 1;
}

.unlimited-page-scores {
	width: 100%;
	max-width: var(--max-width-mobile);
	display: flex;
	justify-content: center;
	gap: 16px;
}

.unlimited-page-scores > div {
	width: 40%;
	display: flex;
	justify-content: center;
}