body {
	min-height: 100vh;
	background-color: var(--background-primary);
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	flex-grow: 1;
	width: 100%;
	max-width: var(--max-width-desktop);
	padding: 0 16px;
	display: flex;
	flex-direction: column;
	min-height: 95vh;
}

header {
	top: 0px;
	width: 100%;
	max-width: var(--max-width-desktop);
	height: 60px;
	background-color: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;

	a {
		height: 32px;
	}
}

.header-nav {
	display: flex;
	gap: 2px;
	margin-right: 0;
	margin-left: auto;

	button {
		padding: 4px;
		width: 32px;
		height: 32px;
		border: none;
	}

	svg {
		width: 24px;
		height: 24px;
	}
}

footer {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: var(--highlight-primary);
	padding: 20px;
	gap: 12px;
	font-size: 14px;

	a {
		color: var(--highlight-primary);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
		text-underline-offset: 4px;
	}
}