:root {
	--background-primary: #252E3F;
	--background-secondary: #909CC2;
	--background-faded: rgba(144, 156, 194, 0.5);
	--background-hover: #cad0e3;
	--text-primary: #252E3F;
	--text-secondary: #E39E27;
	--text-faded: rgba(144, 156, 194, 0.5);
	--highlight-primary: #E39E27;
	--highlight-secondary: #7A2010;
	--highlight-text: #FABB07;
	--highlight-faded: rgb(227, 158, 39, 0.5);

	--max-width-desktop: 770px;
	--max-width-mobile: 425px;
}

[data-light-mode] {
	--background-primary: #DFE4F5;
	--text-secondary: #7A2010;
	--highlight-primary: #7A2010;
	--highlight-secondary: #E39E27;
	--highlight-text: #7A2010;
	--highlight-faded: rgb(122, 32, 16, 0.5);
}

