.archive-container {
  max-width: var(--max-width-mobile);
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 32px 0 50px;
  color: var(--highlight-primary);
  text-align: center;
}

.archive-calendar {
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border-radius: 10px;
  box-shadow:
    inset 2px 2px 3px var(--highlight-faded),
    inset -2px -2px 3px var(--highlight-faded);
}

.archive-day-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background-secondary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: 500;

  svg {
    color: var(--theme-text);
  }
}

.archive-day-icon.completed {
  background-color: var(--theme-secondary);
  border-radius: 6px;
  border: 2px solid var(--theme-primary);
}

.archive-container > span {
  display: flex;
  gap: 2px;

  svg {
    margin-left: 12px;
  }

  :first-child {
    margin-left: 0;
  }
}

.archive-legend {
  display: flex;
  align-items: center;
  gap: 12px;

  .archive-day-icon {
    margin-right: 3px;
  }
}
