.custom-game-modal {
  width: 100% !important;
  max-width: var(--max-width-mobile) !important;
  gap: 12px;
  padding: 24px;
}

.custom-game-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.custom-game-modal-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 12px;
}

.custom-game-modal-person-selector {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 1.75lh;

  > :first-child {
    flex-grow: 1;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  div {
    border-radius: 10px;
  }

  > button { 
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.custom-game-modal-buttons {
	display: flex;
	gap: 24px;
  margin-top: 12px;

  button {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 6px 24px;
  }

  a {
    text-decoration: none;
  }
}

.custom-game-modal-toast > div {
  background-color: var(--background-primary);
  color: var(--highlight-text);
  border: 3px solid var(--highlight-primary);
  display: flex;
  justify-content: center;
}