.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  flex-grow: 1;
  gap: 40px;
}

.success-message-container {
  color: var(--highlight-text);
  max-width: var(--max-width-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;

  strong {
    font-size: 18px;
    font-weight: 900;
  }

  button {
    width: fit-content;
  }
}

.success-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 20px;
  width: 100%;

  > :first-child {
    width: 60%;
  }

  > :last-child {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 6px 24px;
  }
}
