.success-container {
  align-self: center;
  max-width: var(--max-width-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -16px 0 20px;
  flex-grow: 1;
  gap: 24px;
  color: var(--highlight-text);
  border-radius: 25px;
  padding: 32px;
  box-shadow:
    5px 5px 10px var(--highlight-faded),
    -5px -5px 10px var(--highlight-faded),
    5px -5px 10px var(--highlight-faded),
    -5px 5px 10px var(--highlight-faded);

  hr {
    width: 100%;
    max-width: var(--max-width-mobile);
    border-color: var(--highlight-primary);
  }
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;

  strong {
    font-size: 18px;
    font-weight: 900;
  }

  a {
    text-decoration: none;
    width: fit-content;
  }
}

.success-buttons-container {
  display: flex;
  width: 330px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: var(--max-width-mobile);

  button {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  > :first-child {
    width: 40%;

    > button {
      width: 100%;
    }
  }

  > :last-child {
    flex-grow: 1;
  }
}

.success-solution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
