.success-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px 0;
	flex-grow: 1;
  gap: 24px;
}

.success-message-container {
	border: 3px solid var(--highlight-primary);
	border-radius: 10px;
	color: var(--highlight-text);
  max-width: var(--max-width-mobile);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 16px;
	padding: 24px;

	strong {
		font-size: 18px;
		font-weight: 900;
	}
}
