.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  flex-grow: 1;
  gap: 40px;
}

.success-message-container {
  color: var(--highlight-text);
  max-width: var(--max-width-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;

  strong {
    font-size: 18px;
    font-weight: 900;
  }

  a {
    text-decoration: none;
    width: fit-content;
  }
}

.success-buttons-container {
  display: flex;
  margin-top: 16px;
  width: 330px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  max-width: var(--max-width-mobile);

  button {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  > :first-child {
    width: 40%;

    > button {
      width: 100%;
    }
  }

  > :last-child {
    flex-grow: 1;
  }
}
