.image-modal-container {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;

  div {
    display: flex;
    flex-direction: column;
    outline: none;
  }
}

.image-modal {
  transform: translateX(-8px);

  button {
    position: absolute;
    align-self: flex-end;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--background-faded) !important;
    border-radius: 0 5px 0 50%;
    opacity: 0.9;
  }
}
