.info-modal {
  text-align: left;
  padding-left: 24px;

  h4 {
    align-self: flex-start;
  }

  hr {
    width: 100%;
    border-color: var(--highlight-primary);
  }
}

.info-modal-tabs {
  display: flex;
  width: 100%;

  > button {
    width: 50%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding: 6px 0;
  }
}

.info-modal-expandable-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;

  > button {
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    text-align: left;
  }

  > button:hover {
    background-color: inherit;
  }
}
