.info-modal {
  text-align: left;
  padding-left: 24px;

  h4 {
    align-self: flex-start;
  }

  hr {
    width: 100%;
    border-color: var(--highlight-primary);
  }
}

.info-modal-tabs {
  display: flex;
  width: 100%;

  > button {
    width: 50%;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding: 6px 0;
  }
}
