.profile-modal-container {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
  }
}

.google-button {
  width: 100%;

  > button {
    background-color: white !important;
    color: #1f1f1f !important;
    border: 1px solid #747775;
    width: 100%;

    svg {
      color: white;
    }
  }
}

.profile-modal-faq-section {
  display: flex;
  flex-direction: column;
  gap: inherit;
  width: 100%;
  border-top: 1px groove var(--highlight-primary);
  margin-top: 28px;
  padding: 28px 16px 12px;

  span {
    text-align: left;
  }
}

.profile-modal-disclosure {
  font-size: 14px;
}

.profile-modal-disclosure.first {
  margin-top: 24px;
}

.profile-modal-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 6px;
  border-top: 1px groove var(--highlight-primary);
  margin-top: 28px;
  padding: 28px 0 12px;

  h4 {
    align-self: flex-start;
  }

  input {
    border: 2px solid var(--highlight-primary);
    background-color: var(--background-faded);
    border-radius: 5px;
    padding: 3px 6px;
  }

  input:focus {
    outline: none;
  }

  div {
    width: 90%;
  }
}
